/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table, td, th {
    vertical-align: middle;
    border: none;
    color: white
}

th {
    border-bottom: 1px solid #DDD;
}

body {
    margin: 0; background-color: #333333; color: white
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8cfffb;
    position: sticky;
}

li {
    float: left;
    border-right: 1px solid #333333;
}

li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:visited {
    color: #333333;
}

li a:hover {
    background-color: #56cccc;
}

.links{
    color:white;
}

.links:visited {
    color: white;
}